# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
/.vs
/firstTask/.vs/firstTask
/SecondTask/.vs/SecondTask
/firstTask/firstTask/x64/Debug/firstTask.tlog
/firstTask/firstTask/x64/Debug
/firstTask/requests/x64/Debug/requests.tlog
/firstTask/requests/x64/Debug
/SecondTask/FindCount/x64/Debug/FindCount.tlog
/SecondTask/FindCount/x64/Debug
/SecondTask/Pairs/x64/Debug/Pairs.tlog
/SecondTask/Pairs/x64/Debug
/SecondTask/SecondTask/x64/Debug
/ThirdTask/.vs/ThirdTask
