.vs/
*.vcxproj.user
*.vcxproj.filters
*.sdf
*.opensdf
*.ipch
*.iobj
*.ipdb
*.lastbuildstate

Debug/
Release/
x64/Debug/
x64/Release/
bin/
obj/

.vs/

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

*.slo
*.lo
*.o
*.obj

*.gch
*.pch

*.ilk

*.pdb

*.so
*.dylib
*.dll

*.mod
*.smod

*.lai
*.la
*.a
*.lib

*.exe
*.out
*.app

*.dwo

*.log
*.tmp
*.cache
*.tlog
*.user
*.suo

*.DS_Store
Thumbs.db
